target/
**/imported_assets/log
shp/**
!shp/**/
!shp/.embers_shipment_root
!shp/**/*.meta
**/*.rs.bk
*.pdb
**/mutants.out*/

### Jetbrains ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
desktop.ini

### TRAE ###
.trae/*
!.trae/rules/
!.trae/plans/
